* {
    margin: 2px;
    padding: 0px;
    text-align: center;
    background-color: blanchedalmond;
}

#head {
    margin: 0px;
    padding: 40px;

    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    
    background-color: blueviolet;
}

#entrada-valores {
    margin: 20px;
}

#saida-valores {
    margin: 20px;
}