* { /*É o seletor de tudo, todos os elementos do html são selecionados*/
    margin: 0;  /*Isso é quase padrão, para resetar o 'tamanho' de todos os elementos*/
    padding: 0;
}

/*TEM DIVERSOS SELETORES, MELHOR OLHAR NA NET SE TIVER DUVIDA, MAS TREINAR NA PRATICA É MELHOR*/

.pai h1+p {
    color: darkblue;
}

.pai p+h1 {
    color: yellow;
}

[meu-atributo] {
    color: darkgreen;
    font-size: 2000%;
}