.intro-content {
    position: relative;
    top: -40px;
    
    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content p {
    font-weight: 200;
}

.intro-img img {
    max-width: 100%;
    height: auto;
    margin-left: 90px;
    margin-bottom: 0px;
}

.top3-content {
    max-width: 640px;
    gap: 30px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;    
    text-align: center;
}

.top3 p {
    margin-bottom: 100px;
    line-height: 1.5;
    font-weight: 100;
}

.top3-space {
    height: 100px;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;  
}

.grid-description {
    padding-bottom: 60px;
}

#grid-description-gallery, #grid-heading-gallery {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    counter-reset: grid-counter;
    
    gap: 20px;
}

.grid h3 {
    font-size: 35px;

    position: relative;
    padding-left: 90px;
    padding-bottom: 10px;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    font-size: 70px;
    font-style: italic;

    position: absolute;
    top: -30px;
    left: 15px;
    transform: rotate(10deg);
}

.grid-one p {
    font-weight: 200;
}

.gallery-img {
    width: 100%;
    max-width: 360px;
    max-height: 360px;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}